<!--======================================================= [ Nav Bar ] =======================================================-->

<nav class="navbar navbar-light bg-dark justify-content-center">
  <a class="navbar-brand" href="#" style="color: whitesmoke; font-size: 60px;">
    <img src="https://i.pinimg.com/600x315/71/11/c5/7111c56fafd4c12d2a438cdb49d5e867.jpg" width="100" height="100"
      class="d-inline-block align-top" alt="P-Logo" style="border-radius: 20px;">
    Plan-iT
    <img src="https://i.pinimg.com/600x315/71/11/c5/7111c56fafd4c12d2a438cdb49d5e867.jpg" width="100" height="100"
      class="d-inline-block align-top" alt="P-Logo" style="border-radius: 20px;">
  </a>
</nav>

<br>
<br>
<br>




<!--======================================================= [First Card Body] =======================================================-->
<div class="container">
  <div class="card text-center bg-dark" style="border-radius: 20px; color: whitesmoke;">
    <div class="card-header">
      <h2>Add To List</h2>
    </div>
    <div class="card-body">

      <form class="create-form">

        <div class="form-group">

          <label for="planner-name">
            <h3>Start Getting Organized!</h3>
          </label> <br>
          <div class="container">
            <input type="text" class="form-control" style="font-size: 25px; font-family: Arial;" name="name"
              id="planner-name" required>
          </div>

        </div>

        <div class="form-group">


          <input type="radio" name="completed" value="0">
          <h5>To-Do-List</h5>
        </div>

        <button class="button" type="submit">Add To List!</button>
      </form>


    </div>
    <div class="card-footer text-center text-muted">
      Plan-iT
    </div>
  </div>
</div>

<br>
<hr>
<br><br>

<!--=======================================================  [New Row ] =======================================================-->

<div class="row">

<!--======================================================= [ First Column Set to col-md-6 ] =======================================================-->

  <div class="col-md-6">

<!--======================================================= [ Second Card ] =======================================================-->

    <div class="card bg-dark" style="border-radius: 40px; color: black">
      <div class="card-header text-center">
        <h2 style="color: white;">To-Do-List</h2>
      </div>
      <div class="card-body" style="font-size: 25px; font-family: Arial;">

        <ul>

          {{#each planners}}

          {{#unless completed}}
          {{> planners/planner-block finished=true}}
          {{/unless}}

          {{/each}}


        </ul>

      </div>
      <div class="card-footer text-center text-muted">
        Plan-iT
      </div>
    </div>
  </div>


<!--======================================================= [ Second Column Set to col-md-6 ] =======================================================-->
  
  <div class="col-md-6">

<!--======================================================= [ Third Card ] =======================================================-->

    <div class="card bg-dark" style="border-radius: 40px; color: whitesmoke;">
      <div class="card-header text-center">
        <h2>Completed</h2>
      </div>
      <div class="card-body" style="color: black; font-size: 25px; font-family: Arial;">

        <ul>


          {{#each planners}}

          {{#if completed}}
          {{> planners/planner-block finished=false}}
          {{/if}}

          {{/each}}


        </ul>

      </div>
      <div class="card-footer text-center text-muted">
        Plan-iT
      </div>
    </div>
  </div>
</div>